@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
}
body{
    display: flex;
}
.addr{
    margin-left:0rem;
    margin-right: 5rem;
    width: 40rem;
    margin-top: -.5rem;
}
.ret{
    border: 2px solid rgb(41, 41, 41);
    margin-left: 3rem;
    border-radius: 8px;
    width: 25rem;
    margin-top:1rem;
    height: 3rem;
    padding-left: 1rem;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background: rgb(39, 37, 37);
    box-shadow:0 1px 4px rgb(104, 104, 104);
    z-index: 100;
    background-color: white;
}
.carty{
    color: #ff8400;
    height: 2rem;
    width: 2rem;
    background-color: #ffffff;
    margin-top: 1.5rem;
}

.nav{
    
    
    display: flex;
    background-color: white;
    height: 5rem;
    
}
.logo{
    margin-top: .01rem;
    height: 4rem;
    width : 4rem;
    background-color: white;

}
.options{
    margin-left: 25rem;
    display: flex;
    height: 4.5rem;
    width: auto;
    margin-top: 0.3rem;
    background-color: rgb(255, 255, 255);

}
.home1{
   
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom:0rem;
    margin-top: 1rem;
    margin-left: 2rem;
    color: #222222;
    background-color: white;

}
.home1:hover{
   
   border-bottom: 5px solid #ff8400 ;
   color: #ff8400;
}
.load{
    display:flex;
    margin-top: 1rem;
    margin-left: 5rem;
    max-width: 1080px;
    height: 760px;
    overflow-x: auto;
    gap: 5rem;
}
.home{
    position: relative;
    min-height: 460px;
    width: 1080px;
    display: flex;
    align-items: center;
    margin-top:5rem !important;
    border-radius: 0.5rem;
    margin-left: 0rem;
    

}
.text2{
    transform: rotate(270deg);
    font-size: 4rem;
    color: #303030;
    margin-left: -6rem;
    position: sticky;
}
.home-img{
    position: absolute;
    width: 960px;
    height:400px;
    z-index: 0;
    object-fit:fill;
    border-radius: 2rem;
    margin-left: 8rem;
}
.home-text{
    padding-left: 40px;
    z-index: 1;
    background: none;
    margin-left: -7rem;
    color: rgb(255, 242, 0);
    font-family: 'Poppins', sans-serif;
    

}
.home-title{
    font-size:3rem;
    font-weight: 600;
    z-index: 1;
    background: none;
    text-shadow: 0px 0px 15px #b2b2b2;
    
    
}
.home-text p{
    font-size:1rem;
    margin: 6px 0 20px;
    color:rgb(0, 255, 208);
    z-index: 1;
    background: none;
}
.watch-btn{
    display:flex;
    column-gap: 0.8rem;
    color: rgb(0, 255, 204);
    z-index: 1;
    background: none;
    margin-bottom:2rem;
    background-color: #ff0f0f;
}
.watch-btn .bx{
    font-size: 21px;
    background-color: #66b29a;
    width: 40px;
    height:40px;
    border-radius: 50%;
    display: flex;
    z-index: 1;
    background-color: #66b29a;
    margin-bottom:2rem;
}


#cart-icon{
    font-size: 3rem;
    cursor:pointer;
    width: 3rem;
    height:3rem;
    margin-top: .4rem;
    margin-left: 2rem;
    text-align: center;
    padding: 7px;
    color: #181818;
}
#cart-icon:hover{
    color: #ff8400;
    border-radius: 50%;
}

.watch-btn .bx:hover{
    background-color: #66b29a64;
    border-radius: 50%;
}
span{
    background: none;
    color: #474747;
    font-family: 'Poppins', sans-serif;
    margin-left: 7rem;
    text-transform: uppercase;

}
.title{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 250;
    margin-bottom:.5rem;
    margin-top: .3rem;
    margin-left: 1rem;
    color: #252525;
    font-family: 'Roboto Slab', serif;
    background-color: white;
    
}
.shop{
    margin-top: 1rem;
    height:80%;
    width: 30rem;
    margin-right: .3rem;
}
.section-title1{
    font-size: 3rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 4.8rem;
    color: rgb(35, 35, 35);
    rotate: 23;
    border-left: 6px solid #3c3c3c;
    padding-left: 1rem;

}
.section-title{
    font-size: 3rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 1rem;
    color: #444444;

}
.shop-content{
    display:grid;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 100rem;
    height: 21.2rem;
    overflow-x: auto;
    gap: 2rem;
    width: 26rem;
    
}
.product-box{
    width: 25rem;
    height:8rem ;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 25px;
    position: relative;
    display: flex;
    
    
}
.product-box:hover{
    border: 3px solid #393939;
    border-radius: 15px;
}

.product-img{
    width: 5rem;
    height: 7rem;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 0.5rem;
    margin-top: 0.33rem;

    


}
.product-title{
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0.5rem;
    margin-left: 7rem;
    color: rgb(40, 39, 39);
    background-color: #25252500;
    width: 15rem;

}

.add-cart{
    position: absolute;

    bottom:0.3rem;
    right: 0.3rem;
    background:#f3efef ;
    color: rgb(78, 77, 77);
    padding: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 12px;
    border: #f3efef00;
    
}
.pnam{
    height:5rem;
    width:22rem;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
}
.ppri{
    color: rgb(45, 45, 45);
    background-color: rgba(255, 255, 255, 0);
    margin-right: 0rem;
    height: 2rem;
    width: 10rem;
    margin-top: 5rem;
    margin-left: 7.5rem;
    position: absolute;
    left: 0rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}
.gg{
    margin-top: 0.2rem;
}
.web{
    position: absolute;
    width: 50px; 
    height:50px;
    left:0.6rem;
    bottom: 0.3rem;
    border-radius: 34%;
}
.add-cart:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;

}
.addtocart{
    position: absolute;
    margin-top: 1rem;
    margin-left: 11.1rem;
    background: #f3efef;
    color: rgb(78, 77, 77);
    padding: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 12px;
    border: #f3efef00;
    
}
.addtocart:hover{
    background-color: rgb(1, 212, 58);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;

}


::-webkit-scrollbar{
    width: 10px;
    margin-right: .3rem;
    background-color: #40404033;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb{
    background: rgb(37, 37, 37);
    border-radius: 8px;

}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:0;
}
.foot{
    margin-bottom: 0rem;
    height: 2.5rem;
    width: 18rem;
    background-color: #21212100;
    display: inherit;
    margin-top: 30rem;
    z-index: 0;
    margin-left: -1rem;
    border-left: 5px solid rgb(32, 32, 32);
    padding-left: 0.4rem;

}
h4{
    color: rgb(35, 35, 35);
    font-size: 1.6rem;
    width: 12rem;
}
.fot{
    width: 10rem;
}
