<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfull</title>
    <link rel="stylesheet" href="/static/css/success.css">
</head>
<body>
    <div class="container">
        <div class="printer-top"></div>
          
        <div class="paper-container">
          <div class="printer-bottom"></div>
      
          <div class="paper">
            <div class="main-contents">
              <div class="success-icon">&#10004;</div>
              <div class="success-title">
                Order Placed
              </div>
              <div class="success-description">
                Hello {{name}} ! The Order has been successfully placed. You will get Your Order status Soon......
              </div>
              <div class="order-details">
                <div class="order-number-label">Order Number</div>
                <div class="order-number">{{oid}}</div>
              </div>
              <div class="order-footer">Thank you for Choosing Tailored !</div>
            </div>
            <div class="jagged-edge"></div>
          </div>
        </div>
      </div>
</body>
</html>